{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      molestiae fugit eius pariatur reprehenderit, numquam libero iure doloribus
      itaque. Cumque quisquam enim iste minima? Omnis rerum ratione voluptatibus
      inventore minus officiis earum tempore velit nesciunt libero a illum
      expedita deserunt quasi ducimus amet commodi pariatur aliquid reiciendis
      quos, veniam distinctio mollitia ipsa? A molestiae provident doloribus
      ratione ducimus vero quo culpa minima iste amet aliquam, voluptatum odio
      esse sapiente assumenda unde, tenetur quos eum quam laboriosam illum
      laudantium qui. Fuga illo reiciendis distinctio libero enim doloremque
      labore aspernatur nihil sit sapiente consequuntur recusandae porro,
      veritatis officiis fugit incidunt culpa deserunt?
    </p>

    <div class="text-center">
        <a class="btn btn-primary" href="/signin">Signin</a>
        <a class="btn btn-danger" href="/signup">Signup</a>
    </div>
    
  </section>
</main>
{% endblock %}
